### IntelliJ IDEA ###
.idea/
*.iml
**/*.iml
kafka-sasl-ims-handler.iml
.classpath
.project
.settings/
out/

### Maven ###
target/

### Mac ###
.DS_Store

### VSCode ###
.settings/
.project
.classpath

### Builded Jar Files ###
docker/**/*.jar